{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="{{ url_for('static', filename='font-awesome.min.css') }}" rel="stylesheet" type="text/css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Klee+One&display=swap" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{{ url_for('static', filename='clean-blog.min.css') }}" rel="stylesheet">



<!-- Navigation -->
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('main.index') }}" id="name">Zuess</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" id="btn">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.index') }}" id="h">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.about') }}" id="a">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.add') }}" id="ad">Add</a>
      </li>
      {% if current_user.is_authenticated %}
      <li style="color:white;padding:15px;" id="ad">{{current_user.username}}</li>
      <li><a href="{{url_for('auth.logout')}}" id="ad">Sign out</a></li>
      {% else %}
      <li><a href="{{url_for('auth.login')}}" id="ad">Sign in</a></li>
      {%endif%}
      </ul>
    </div>
  </div>
</nav>
    <div class="container" id="allcomments" >
        <div class="row">

            {% if all_comments %}
                <div class="col-md-7" >
                    <h3 class="text-center" id="coms">All comments for the post</h3>
                    {% for comment in all_comments %}
                       <div class="card w-90 mb-3" >
                           <div class="card-body">
                            
                              
                              
                              
                             <p class="card-title">Comment:{{ comment.comment }}</p>
                             <br>
                             <p class="card-text">Made by: {{comment.user.username}}</p>
                           </div>
                       </div>
                    {% endfor %}
                   </div>
                   <div class="col-md-5  commentform" >

                        {{wtf.quick_form(form)}}
                   </div>
               </div>
            {%else%}
            <div class="card w-90 mb-3">
                <div class="card-body">
                  <p class="card-title">No Comments for this yet for this post. Be the first to comment</p>
                </div>
            </div> 
            <div class="col-md-5">
                    {{wtf.quick_form(form)}}
                </div>
            {%endif%}
            <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
              <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                  <div class="modal-content text-center">
                    <div class="modal-header d-flex justify-content-center">
                      <p class="heading">Are you sure?</p>
                    </div>
                    <div class="modal-body">
                      <i class="fas fa-times fa-4x animated rotateIn"></i>
                    </div>
                    <div class="modal-footer flex-center">
                      <form action="{{url_for('main.delete_post',post_id = post_id)}}" method="POST">
                          <input  type="submit" class="btn  btn-outline-danger btn-sm" value="Yes">
                      </form>
                      <a type="button" class="btn btn-sm btn-danger waves-effect" data-dismiss="modal">No</a>
                    </div>
                  </div>
              </div>
          </div>
    </div>
   
{% endblock%}