{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<!-- Bootstrap core CSS -->
<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">


<!-- Custom styles for this template -->
<link href="{{ url_for('static', filename='clean-blog.min.css') }}" rel="stylesheet">


<!-- Custom fonts for this template -->
<link href="{{ url_for('static', filename='font-awesome.min.css') }}" rel="stylesheet" type="text/css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Klee+One&display=swap" rel="stylesheet">

<!-- Navigation -->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.index') }}" id="name">Zuess</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.index') }}" id="h">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.about') }}" id="a">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.add') }}" id="ad">Add</a>
            </li>
            {% if current_user.is_authenticated %}
            <li style="color:white;padding:15px;" id="ad">{{current_user.username}}</li>
            <li><a href="{{url_for('auth.logout')}}" id="ad">Sign out</a></li>
            {% else %}
            <li><a href="{{url_for('auth.login')}}" id="ad">Sign in</a></li>
            {%endif%}
          </ul>
        </div>
      </div>
    </nav>
    </div>

      <!-- Page Header -->
      <header class="masthead" >
        <div class="container" style="margin: 70px; font-size: 20px; font-family: Georgia, 'Times New Roman', Times, serif;">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto" id="img4">
              <div class="post-heading">
                <h1>{{ post.title }}</h1>
                <h2 class="subheading">{{ post.subtitle }}</h2>
                <span class="meta">Posted by
                  {{ post.author }}
                  on {{ post.date_posted.strftime('%B %d, %Y') }}</span>
              </div>
            </div>
          </div>
          
        </div>
        
    </div>
</div>  


      </header>
  
      <!-- Post Content -->
      <article>
        <div class="container" style="font-size: 17px;font-family: Georgia, 'Times New Roman', Times, serif;">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              {{ post.content|safe }}
            </div>
          </div>
        </div>
      </article>
      <!-- <h5>Leave a comment below</h5>
      <form class="form" action="{{url_for('main.comment',post_id = post.id)}}" method="POST">
        <div class="form-group green-border-focus">
            <label></label>
            <textarea class="form-control" placeholder="Type your comment..." rows="2" name ="newcomment" required></textarea>
        </div>
        <div class="modal-footer flex-center">
            <button class="btn btn-sm btn-outline-success" style="border-radius: 5px;font-size: 14px;">Comment</button>
            
        </div>
      </form>
      <hr>
        <h4>All Comments</h4>
        {% if all_comments %}
                <div class="col-md-7" >
                    <h3 class="text-center" id="coms">All comments for the post</h3>
                    {% for comment in all_comments %}
                       <div class="card w-90 mb-3" >
                           <div class="card-body">
                            <h5>Category:
                              
                              {{comment.blog.category}}</h5>
                              <br>
                             <p class="card-title">Comment:{{ comment.comment }}</p>
                             <br>
                            
                           </div>
                       </div>
                    {% endfor %}
                   </div>
                   <div class="col-md-5  commentform" >

                        {{wtf.quick_form(form)}}
                   </div>
               </div>
            {%else%}
            <div class="card w-90 mb-3">
                <div class="card-body">
                  <p class="card-title">No Comments for this yet for this post. Be the first to comment</p>
                </div>
            </div> 
            
            {%endif%}
            
      
      <!-- Footer -->
<footer> -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p class="copyright text-muted">Copyright &copy; Zuess 2021</p>
        </div>
      </div>
    </div>
  </footer>
  
  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  
  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static', filename='clean-blog.min.js') }}"></script>
  {% endblock %}